.quemSomosContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #ffffff;
    padding-top: 3em;
    min-height: 100vh;
}

.text {
    text-align: start;
    justify-content: left;
    align-items: start;
    box-sizing: border-box;
    width: 40%;
    height: auto;
    overflow-wrap: break-word;
}

.quemSomosContainer h2 {
    font-weight: 700;
    font-size: 20px;
    color: #000000;
}

.quemSomosContainer p {
    color: #000000;
    margin: 0 auto;
    font-size: 16px;
    text-align: start;
    box-sizing: border-box;
    margin-top: 1.3em;
    font-weight: 400;
}

.carrossel {
    width: 100%;
    margin-top: 4em;
    margin-bottom: 4em;
    overflow: hidden;
}

.carrossel img {
    max-width: 100%;
    height: auto;
    display: block;
}

@media (max-width: 768px) {
    .quemSomosContainer {
        width: 100%;
        padding-top: 2em;
    }

    .text {
        text-align: center;
        width: 90%;
        padding: 0 0.5em;
        margin: 0 auto;
    }

    .quemSomosContainer p {
        text-align: center;
        padding: 0 1em;
        width: 90%;
        margin: 1em auto 0 auto;
    }

    .carrossel {
        width: 100%;
        margin-top: 2em;
        margin-bottom: 2em;
        padding: 0 1em;
    }
}

body {
    box-sizing: border-box;
    overflow-x: hidden; /* Adicionado para ocultar a barra de rolagem horizontal */
}

* {
    box-sizing: border-box;
}