.carouselContainer {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: flex-start;
  margin: 20px;
  width: 100%;
}

.leftColumn,
.rightColumn {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.imageBox1,
.imageBox2,
.imageBox3,
.imageBox4 {
  width: 400px;
  height: 190px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  overflow: hidden;
}

.carouselItemCenter {
  width: 200px;
  height: 400px;
  background-color: black;
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  overflow: hidden;
}

.carousel {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.carouselImage {
  width: 100%;     /* Garante que a imagem tenha a largura total da div */
  height: 100%;    /* Garante que a imagem tenha a altura total da div */
  object-fit: cover; /* Faz com que a imagem cubra toda a div, sem distorção */
  transition: opacity 1s ease-in-out;
  position: relative; /* Ajuste para garantir o posicionamento correto */
  top: 0;
  left: 0;
}


.carouselCenter .carouselImageContainer {
  align-items: flex-start; /* ou center, flex-end, etc */
  height: 100%;
}

.carouselCenter .carouselImage {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.carouselImageContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.leftColumn,
.rightColumn,
.carouselItemCenter {
  opacity: 0;
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.animate {
  opacity: 1;
  transform: translateY(0);
}

.leftColumn {
  transition-delay: 0.2s;
}

.carouselItemCenter {
  transition-delay: 0.4s;
}

.rightColumn {
  transition-delay: 0.6s;
}

@media (max-width: 768px) {
  .carouselContainer {
    display: flex;
    gap: 15px;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    margin: 15px auto;
  }

  .leftColumn,
  .rightColumn,
  .carouselItemCenter {
    width: 48%;
    margin-bottom: 10px;
    display: flex;
    height: auto;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .imageBox1,
  .imageBox2,
  .imageBox3,
  .imageBox4 {
    width: 100%;
    height: 5.2em;
    aspect-ratio: 16 / 9;
    margin-bottom: 5px;
  }

  .carouselItemCenter {
    width: 25%;
    height: 11.5em;
    aspect-ratio: 9 / 16;
    object-fit: cover;
  }

  .imageBox3,
  .imageBox4 {
    display: none;
  }
}