/* Home.module.css */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100vh;
    background-color: var(--container-color);
    border-radius: 0;
    box-shadow: none;
    margin: 0 auto;
}

.container img {
    width: 100%;
    max-width: 500px; /* Limita o tamanho máximo da imagem */
    margin: 10px 0;
}

h1 {
    font-size: var(--h1-font-size);
    color: var(--title-color);
    margin: 20px 0;
    line-height: 1.3;
    font-family: var(--body-font);
}

h1 br {
    display: block;
    margin: 10px 0;
}
