.contactContainer {
    text-align: center;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.contactInfo {
    width: 100%;
    color: rgb(102, 102, 102);
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4em;
    padding: 5em 2em 3em;
    /* Adjusted padding for better mobile view */
    font-size: 10px;
    font-weight: 100;
    gap: 1.5em;
}

.contactContainer a {
    color: #c51639;
    font-weight: 700;
    font-size: 24px;
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
}

.contactContainer a:hover {
    color: rgb(131, 23, 38);
}

.contactInfo button {
    background-color: #c51639;
    border: none;
    padding: 10px 20px;
    margin-top: 1.5em;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
    width: 20%;
    /* Button takes full width on mobile */
    box-sizing: border-box;
    /* Ensures padding is included in width */
}

.contactInfo button a {
    color: white;
    font-size: 18px;
    text-decoration: none;
    display: block;
    /* Makes the link fill the button */
    padding: 10px 0;
    /* Centers the text vertically */
}


.contactInfo button:hover {
    background-color: #a3122f;
}

.line {
    width: 100%;
    height: 2em;
    background: linear-gradient(31deg, rgba(8, 0, 1, 1) 5%, rgba(111, 13, 28, 1) 29%, #c51639 63%, rgba(94, 1, 20, 1) 100%);
    margin-bottom: 3em;
}

img {
    max-width: 100%;
    height: auto;
}

.contactContainer h2 {
    color: black;
    margin: 4px;
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 500;
    font-size: 24px;
}

.contactInfo h2 {
    color: white;
    font-weight: 300;
}

@media (max-width: 768px) {

    h1 {
        font-size: 1.5rem;
    }

    .contactInfo {
        text-align: center;
        padding: 3em;
        font-size: 16px;
        /* Increased font size for better readability on mobile */
    }


    .contactInfo h2{

        font-size: 18px;
        /* Increased font size for better readability on mobile */
    }

    .local h3 {
        font-size: 11px;
    }

    .contactInfo button, a {
        width: 100%;
        /* Ensures button takes full width on mobile */
        font-size: 12px;
        /* Increased font size for better readability on mobile */
        padding: 10px;
    }

    .text { 
        width: 90%;
        gap: 1em;
    }
}