/* .container e .navContainer */
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: #333;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  box-sizing: border-box; /* Garante que o padding não ultrapasse a largura */
}

.logo img {
  height: 50px;
}

.navContainer nav {
  display: flex;
  gap: 20px;
}

.navContainer button {
  background: none;
  border: none;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  padding: 10px 15px;
  transition: 0.3s ease;
}

.navContainer button:hover {
  background-color: #555;
  border-radius: 5px;
}

/* Responsividade para dispositivos móveis */
@media (max-width: 768px) {
  .container {
      flex-direction: column;
      align-items: center;
      padding: 15px;
  }

  .navContainer nav {
      flex-direction: column;
      gap: 10px;
  }

  .navContainer button {
      padding: 8px 12px; /* Ajuste o padding para dispositivos móveis */
  }
}
