.carouselContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    padding-top: 8em;
    padding-bottom: 8em;
    background: rgb(0,0,0);
    background: linear-gradient(352deg, rgba(0,0,0,1) 57%, rgba(130,29,48,1) 100%);
}

.carouselContainer2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.carousel {
    display: flex;
    justify-content: center; /* Centraliza o depoimento */
    width: 100%;
    position: relative;
}

.testimonial {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 8px;
    min-width: 18em;
    min-height: 12em;
    padding: 1em;
    margin: 10px;
    width: 90%; /* Ajuste a largura para mobile */
    max-width: 500px; /* Limita a largura máxima */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    align-items: center;
    justify-content: center;
}

.person {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    text-align: start;
    gap: 1em;
}

.personName {
    gap: 0px;
    margin-top: 0;
}

.testimonial h2 {
    font-size: 1.2rem;
    font-weight: 600;
    color: #333;
    margin-bottom: 0;
}

.testimonial p {
    font-size: 1rem;
    color: #555;
    line-height: 1.6;
}

.testimonial span {
    display: block;
    font-size: .8rem;
    color: #888;
    font-style: italic;
    margin-top: 0;
}

.prevButton, .nextButton {
    background: none;
    border: none;
    color: #ffffff;
    font-size: 1rem;
    cursor: pointer;
    position: absolute;
    top: 55%;
    transform: translateY(-50%);
    z-index: 100;
    transition: 0.3s ease;
}

.prevButton {
    left: 15em; /* Posicionamento relativo */
}

.nextButton {
    right: 15em; /* Posicionamento relativo */
}

.prevButton:hover, .nextButton:hover {
    color: #ffffff;
}

@media (max-width: 768px) {
    .testimonial {
        width: 30%; /* Ajuste para mobile */
        margin: 4em;
    }

    .prevButton, .nextButton {
        font-size: 1.5rem;
       
    }

    .prevButton {
        left: 20px; /* Ajuste para mobile */
    }
    
    .nextButton {
        right: 20px; /* Ajuste para mobile */
    }
}

/* ... (Seus outros estilos CSS) ... */

/* ... seus outros estilos ... */

.slideIn {
    animation: slideIn 0.1s ease-in-out forwards;
}

/* ... seus outros estilos ... */

.fadeIn {
    animation: fadeInInitial 0.1s ease-in-out forwards;
}

.fadeOut {
    animation: fadeOut 0.1s ease-in-out forwards;
}

@keyframes fadeInInitial {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}